@media print {
  body {
    background: #fff !important; }
  #wrapper {
    width: 100% !important;
    margin: 0;
    padding: 0; }
    #wrapper header {
      display: none; }
    #wrapper #menu-bg {
      display: none; }
    #wrapper #menu {
      display: none; }
    #wrapper #menu-2 {
      display: none; }
    #wrapper #main {
      border-top: 1px solid #ffffff !important; }
      #wrapper #main #col-left {
        display: none; }
      #wrapper #main #content {
        float: none;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        page-break-after: always;
        width: 100%; }
        #wrapper #main #content #path {
          display: none; }
        #wrapper #main #content #share {
          display: none; }
        #wrapper #main #content article {
          margin: 0;
          width: 100%; }
        #wrapper #main #content #single-menu {
          display: none; }
        #wrapper #main #content #info-related {
          display: none; }
        #wrapper #main #content #tag-cloud-2 {
          display: none; }
    #wrapper footer {
      display: none; }
  .single #wrapper #main #content h2 {
    display: none; }
  .single #wrapper #main #content article .post-num,
  .single #wrapper #main #content article .post-month {
    position: relative;
    text-align: left;
    top: unset;
    right: unset; }
  .single #wrapper #main #content article .post-num {
    font-size: 45pt; }
    .single #wrapper #main #content article .post-num span {
      font-size: 15pt; }
  .single #wrapper #main #content article .post-month {
    font-size: 13.5pt; }
  .single #wrapper #main #content article .post-title {
    width: 100%;
    padding: 20px 0 10px; }
    .single #wrapper #main #content article .post-title h3 {
      font-size: 24pt;
      padding: 0; }
  .single #wrapper #main #content article .post-body {
    font-size: 11pt;
    background: unset;
    padding: 0; }
    .single #wrapper #main #content article .post-body h5 {
      padding: 0; }
  .single #wrapper #main #content article .link-page:last-child {
    display: none; } }
