@media print {
  body {
    background: #fff !important;
  }
  #wrapper {
    width: 100% !important;
    margin: 0;
    padding: 0;
    header {
      display: none;
    }
    #menu-bg {
      display: none;
    }
    #menu {
      display: none;
    }
    #menu-2 {
      display: none;
    }
    #main {
      border-top: 1px solid #ffffff !important;
      #col-left {
        display: none;
      }
      #content {
        float: none;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        page-break-after: always;
        width: 100%;
        #path {
          display: none;
        }
        #share {
          display: none;
        }
        article {
          margin: 0;
          width: 100%;
        }
        #single-menu {
          display: none;
        }
        #info-related {
          display: none;
        }
        #tag-cloud-2 {
          display: none;
        }

      }
    }
    footer {
      display: none;
    }
  }
  .single {
    #wrapper {
      #main {
        #content {
          h2 {
            display: none;
          }
          article {
            .post-num,
            .post-month {
              position: relative;
              text-align: left;
              top: unset;
              right: unset;
            }
            .post-title {
              width: 100%;
              padding: 20px 0 10px;
            }
          }
        }
      }
    }
  }
}
